@import './variables.scss';

body {
  background-color: $clr-background;
  
  font-family: $ff-regular;
  font-weight: $fw-regular;
  font-size: $fs-regular-mobile;
  color: $clr-100;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 1.5rem;
}