
/* COLORS */
$clr-100: rgba(255, 255, 255, 1);
$clr-900: rgba(27, 25, 55, 1);

$clr-accent: rgba(171, 92, 219, 1);
$clr-background: rgba(10, 12, 28, 1);


/* TYPE */

$ff-regular: 'Inter', sans-serif;
$ff-accent: 'Lexend Deca', sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-header-mobile: 1.75rem;
$lh-header-mobile: 1.14;
$fs-header-desktop: 2.25rem;
$lh-header-desktop: 1.22;

$fs-regular-mobile: 0.938rem;
// $lh-regular-mobile: 1.67;

$fs-subheader-mobile: 1.5rem;
$lh-subheader-mobile: 1.21;

$fs-accent-mobile: 0.75rem;
$lh-accent-mobile: 2.08;


/* BREAKPOINTS */
$mobile: 375px;
$desktop: 768px;


